@charset "utf-8";
body{
	background-color:#6CF;
	margin:0px auto;
}
#container{
	width:700px;
	height:400px;
	text-align:center;
	background-color:#CCC;
	border-radius:20px;
	margin:0 auto;
	margin-top:130px;
}
#container img{
	width:100px;
	height:100px;
	margin-top:-50px;
}
input[type="text"],input[type="password"]{
	height:30px;
	width:300px;
	font-size:15px;
	padding-left:10px;
}
input[type="submit"]{
	height:30px;
	width:150px;
	font-size:18px;
	border-radius:5px;
	margin-top:30px;
	margin-bottom:20px;
}
a{
	font-family:"Times New Roman", Times, serif;
	font-size:20px;
	color:#F00;	
}
#quen-mk{
	margin-top:10px;
}
#dang-ky{
	margin-top:10px;
}
span{
	color:#F00;
}
td{
	margin:0px auto;
	padding-left:30px;
}


